<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<body>

<div layout:fragment="content" id="app">

    <button type="button" class="btn btn-primary btn-novo" @click="novo()"
            data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus fa-fw"></i>
    </button>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tarefas</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <h4 class="kanban-header">A fazer</h4>
            <draggable v-model="tarefasPendente" :options="{group:'tarefa'}"
                       class="list-group list-kanban dragArea"
                       data-status="PENDENTE" @add="updateStatus">
                <a v-for="tarefa in tarefasPendente" href="#"
                   class="list-group-item" @click="alterar(tarefa)">
                    <div class="row tarefa-descricao">
                        <div class="col-sm-12">
                            {{tarefa.descricao}}
                        </div>
                    </div>
                    <div class="row tarefa-user">
                        <div class="col-sm-12">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span v-if="!tarefa.user">Tarefa não atribuída</span>
                            <span v-if="tarefa.user">Atribuída para {{tarefa.user.nome}}</span>
                        </div>
                    </div>
                    <div class="row tarefa-data">
                        <div class="col-sm-12">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            Criada em {{tarefa.data}}
                        </div>
                    </div>
                </a>
            </draggable>
        </div>

        <div class="col-sm-4">
            <h4 class="kanban-header">Em andamento</h4>
            <draggable v-model="tarefasAndamento" :options="{group:'tarefa'}"
                       class="list-group list-kanban dragArea"
                       data-status="ANDAMENTO" @add="updateStatus">
                <a v-for="tarefa in tarefasAndamento" href="#"
                   class="list-group-item" @click="alterar(tarefa)">
                    <div class="row tarefa-descricao">
                        <div class="col-sm-12">
                            {{tarefa.descricao}}
                        </div>
                    </div>
                    <div class="row tarefa-user">
                        <div class="col-sm-12">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span v-if="!tarefa.user">Tarefa não atribuída</span>
                            <span v-if="tarefa.user">Atribuída para {{tarefa.user.nome}}</span>
                        </div>
                    </div>
                    <div class="row tarefa-data">
                        <div class="col-sm-12">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            Criada em {{tarefa.data}}
                        </div>
                    </div>
                </a>
            </draggable>
        </div>

        <div class="col-sm-4">
            <h4 class="kanban-header">Finalizado</h4>
            <draggable v-model="tarefasFinalizado" :options="{group:'tarefa'}"
                       class="list-group list-kanban dragArea"
                       data-status="FINALIZADO" @add="updateStatus">
                <a v-for="tarefa in tarefasFinalizado" href="#"
                   class="list-group-item" @click="alterar(tarefa)">
                    <div class="row tarefa-descricao">
                        <div class="col-sm-12">
                            {{tarefa.descricao}}
                        </div>
                    </div>
                    <div class="row tarefa-user">
                        <div class="col-sm-12">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span v-if="!tarefa.user">Tarefa não atribuída</span>
                            <span v-if="tarefa.user">Atribuída para {{tarefa.user.nome}}</span>
                        </div>
                    </div>
                    <div class="row tarefa-data">
                        <div class="col-sm-12">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            Criada em {{tarefa.data}}
                        </div>
                    </div>
                </a>
            </draggable>
        </div>

    </div>


    <!--Modal Edit-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Tarefa</h4>
                </div>
                <div class="modal-body">

                    <form id="form" @submit="salvar(tarefa)" @submit.prevent>

                        <div v-if="tarefa.user" class="form-group">
                            <label>Tarefa atribuida para {{tarefa.user.nome}}</label>
                            <button type="button" class="btn btn-warning" @click="largarTarefa(tarefa)"
                                    v-if="tarefa.userId && tarefa.userId == user.id && tarefa.status != 'FINALIZADO'">
                                Largar tarefa
                            </button>
                        </div>

                        <div v-if="tarefa.id && !tarefa.user" class="form-group">
                            <label>Tarefa não atribuída</label>
                            <button type="button" class="btn btn-success" @click="pegarTarefa(tarefa)">Pegar tarefa</button>
                        </div>

                        <div class="form-group">
                            <label for="descricao">Descrição</label>
                            <textarea v-model="tarefa.descricao" type="text" class="form-control" id="descricao"
                                      placeholder="Descricao" required rows="5"></textarea>
                        </div>

                        <div v-if="tarefa.id && tarefa.status != 'PENDENTE'" class="form-group">
                            <label for="descricao">Resposta</label>
                            <textarea v-model="tarefa.resposta" type="text" class="form-control" id="resposta"
                                      placeholder="Resposta" rows="5"></textarea>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button v-if="tarefa.status == 'FINALIZADO'" type="button" class="btn btn-danger"
                            data-dismiss="modal" @click="guardarTarefa(tarefa)">Guardar tarefa</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button :disabled="tarefa.userId && tarefa.userId != user.id"
                            type="submit" form="form" class="btn btn-primary">Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<div layout:fragment="script">
    <script src="/js/tarefa.js"></script>
</div>

</body>