.card-login {
  width: 300px;
  margin: 5% auto 0;
  text-align: center;
}

.full-width {
  width: 100%;
}

.forgotPassword {
  display: block;
  margin: 20px;
  color: #3f51b5;
  cursor: pointer;
}

.alreadyHaveAccount {
  margin-top: 20px;
  display: block;
}
